

*{
    font-size: 20px !important;
    /* -webkit-text-stroke: 1px black;  */
}
.box{
    background-color: white;
    color: black;
    font-family: monospace;
    border: solid 1px;
    -webkit-text-stroke: 1px;
    width: 120px;
    height: 120px;
    
}

.container{
    width: 700px;
}
/* body {
    color: white;
    /* background-color: green; */
  

