body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-image: url(image/space-wallpapers-1366x768-00011.jpg);
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 150px;
    width: 1366px;
    border: red;
    background-color: black;
    opacity: 80%;
}

.box{
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    width:100px;
    height: 100px;
    background-color : darkviolet;
    margin: 10px;  
    padding: 9px;
    font-size: 30px;
}

.boxHover{
    background-color:  #6097d0;
}

.boxErrorHover{
    background-color: deeppink;
}